.Select {
  padding: 0px 5px;
  display: flex;
  flex-direction: column;

  label {
    margin-bottom: 5px;
  }

  select {
    padding: 5px;
    border-radius: 5px;
    color: #367577;
    font-weight: bold;
    &:active,
    &:focus {
      outline: none;
    }
  }
}